apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-consumer
spec:
  template:
    spec:
      containers:
        - name: kafka-consumer
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "1500m"
              memory: "1.5Gi"
          env:
            - name: ENVIRONMENT
              value: "stage"
