apiVersion: v1
kind: Service
metadata:
  name: kafka-consumer
  labels:
    app: kafka-consumer
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
  selector:
    app: kafka-consumer
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-consumer-headless
  labels:
    app: kafka-consumer
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: metrics
      port: 9090
      targetPort: metrics
  selector:
    app: kafka-consumer
